.section-features {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, .6), rgba($color-primary-dark, .6)), url('../img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 12rem 0;
  }
}

.feature-box {
  background-color: rgba($color-white, .8);
  height: 35rem;
  width: 22rem;
  border-radius: 3px;
  padding: 3rem 2rem;

  @include respond(tab-port) {
    width: 100% !important;
  }

  &__icon {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 5rem;
  }

  &__text {
    font-size: 1.2rem;
  }
}